#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Flibertyondemand.biz%2Frandom-password-generator%2F&psig=AOvVaw2rwZKpmTaA_FvhT5HJw1Y0&ust=1714889086361000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIC9jOqp84UDFQAAAAAdAAAAABAJ);
}

